{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if sca.pk %}
        Editar Aluno
    {% else %}
        Novo Aluno
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if sca.pk %}
    <h1>Editar Aluno</h1>
    {% else %}
    <h1>Novo Aluno</h1>
    {% endif %}
    
    <form method="POST">

        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'sca_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock content %}